#pesquisa {

    -fx-background-image: url("../Imagens/Lupa.png");
   	-fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;     
}
#criar {
    -fx-background-color: linear-gradient(#575353, #000000);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#cancelar {
    -fx-background-color: linear-gradient(#575353, #000000);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#criar:pressed {
    -fx-background-color: linear-gradient(#adbbd3, #000000);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#cancelar:pressed {
    -fx-background-color: linear-gradient(#adbbd3, #000000);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
.button {
    -fx-background-color: linear-gradient(#575353, #000000);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
.button:pressed {
    -fx-background-color: linear-gradient(#adbbd3, #000000);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#painel {
    -fx-background-color: linear-gradient(#ffffff, #dad2d2);
}
#hbox {
    -fx-background-color: linear-gradient(#ffffff, #dad2d2);
}
#faixa {
    -fx-background-color: linear-gradient(#575353, #000000);
}

#btnCadastrarCliente {
    -fx-text-fill: #000000;
    -fx-background-radius: 0;
    -fx-border-color: #E4E7ED;
    -fx-background-color: #E4E7ED;
}

#btnCadastrarCliente:pressed {
    -fx-border-color: #ADAEB2;
    -fx-background-color: #ADAEB2;
}

#btnCadastrarCliente:hover {
    -fx-border-color: #EFF1F4;
    -fx-background-color: #EFF1F4;
}

#btnConfirmar {
    -fx-text-fill: #000000;
    -fx-background-radius: 7;
    -fx-border-color: #ffffff;
    -fx-background-color:#999ea8;
}

#btnConfirmar:hover {
    -fx-border-color: #ffffff;
    -fx-background-color: #EFF1F4;
}

#btnConfirmar:pressed {
    -fx-border-color: #ADAEB2;
    -fx-background-color: #ADAEB2;
}

#btnSair {
    -fx-text-fill: #000000;
    -fx-background-radius: 7;
    -fx-border-color: #ffffff;
    -fx-background-color:#999ea8;
}

#btnSair:hover {
    -fx-border-color: #ffffff;
    -fx-background-color: #EFF1F4;
}

#btnSair:pressed {
    -fx-border-color: #ADAEB2;
    -fx-background-color: #ADAEB2;
}